<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>New Number</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
      <div class="container">
        <h1>New Number</h1>
        
        <%= render 'form', number: @number %>
        
        <%= link_to 'Back', numbers_path %>
      </div>
    </body>
</html>
          