
<div class= "inner cover" align="left"><br>
  Phone Guru is a solution with the capacity of:    
  
  <div class="cover-50">
    <li>Intercepting mobile phone calls</li>
    <li>Decode the type of call</li>
    <li>Apply enforcement rules</li>
  </div>
  <br>
  <p>It enables a user with the ability of creating rules and constraints like: Only allow calls from a given CSP; 
  Avoid long distance calls; Permit only 100 minutes for calls to wireline numbers; black-list/white-list; etc </p>
  <p>Solution architecture is composed by a mobile Android app and this web configuration app, still in prototype.</p>
  
  <p>Solution capacities can be used in a number of use cases, for example creating maneger device and subordinate devices for: </p>
  <div class="cover-50">
    <li>Corporate selling force telephony control</li>
    <li>Families telephony policy creation</li>
  </div>
</div>
<div class= "inner cover">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8" align="left">
      <b>Technologies:</b>
      <p>Native Android</p>
      <p>Rails</p>
      <p>REST API</p>
    </div>      
  </div>
</div>