<div class="inner cover">
  <h1 class="cover-heading">Phone Guru</h1>
  <p class="lead">Configuration Environment. Thank you for visiting</p>
  <p class="lead">
    <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</div>